.example-spacer {
    flex: 1 1 auto;
  }

  .menu {
    width: fit-content;
    position: relative;
    right: 60px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 1001;

  }

  mat-toolbar-row{
    z-index: 1001;
  }


