.carContainer{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;

}

h3 {
    text-align: center;
}

select {
    background-color: rgba(95, 158, 160, 0.484);
}