 h1 {
    text-align: center;
    border-bottom: 2px solid rgba(0, 128, 0, 0.565);
    padding: 3%;
 }

 .noContent{
   text-align: center;
 }


 li {
   text-align: center;
   font-size: x-large;
   margin-top: 3%;
 }