<div class="carCard">
    <img [src]="carFromGrandParent.image" >
    <h3> {{carFromGrandParent.model}}</h3>
    <p>Price: {{carFromGrandParent.priceToRent}}</p>
    <label class="aveable" [innerText]="carFromGrandParent.isRented ? '' : 'Available'" ></label>
    <button (click)="onRentClick(carFromGrandParent.id)" *ngIf="!carFromGrandParent.isRented">Rent</button>
    <button (click)="onReturnTheCarClicked(carFromGrandParent.id)" *ngIf="carFromGrandParent.isRented">Return the car</button>
</div>
